/* default */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

*, input[type=text] {
  font-family: 'Nunito', sans-serif;
}

.level-item, .service-item {
  font-family: "Fira Code", monospace;
}

.level-item {
  font-size: 13px;
}

.badge {
  width: 30px;
}

/*.is-sticky-left {
  left: 0;
  top: 52px;
  position: sticky;
  border-right: thin solid #ded5d5;
}*/

.menu {
  left: 0;
  top: 52px;
  z-index: 5;
  float: left;
  position: fixed;
  width: fit-content;
}

.menu-container {
  height: calc(100vh - 160px);
  overflow: auto;
}

.service, .service-item {
  scroll-margin-top: 80px;
}

.table {
  font-size: 14px;
}

td a {
  color: #124191;
  font-family: "Fira Code", monospace;
}

.has-header-img {
  background: url(../images/pointed.jpg)center center;
  background-size: cover;
}


/*
@media screen and (min-width: 1024px) {
  .menu {
    left: 0;
    top: 52px;
    position: sticky;
    border-right: thin solid #ded5d5;
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    left: 0;
    top: 52px;
    z-index: 5;
    float: left;
    position: fixed;
    width: fit-content;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeOutLeft;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}
*/