/* default */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

@font-face {
  font-family: "NokiaPureText";
  src: url("./NokiaPureText_Rg.ttf");
}

* {
  font-family: "NokiaPureText", monospace;
}

.level-item, .service-item {
  font-family: "Fira Code", monospace;
}

#title {
  margin-top: 50px;
}

@media screen and (min-width: 1024px) {
  .menu {
    top: 52px;
    bottom: 0;
    position: sticky;
    display: inline-block;
    vertical-align: top;
    max-height: 100vh;
  }
  .detail {
    display: inline-flex;
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    left: 0;
    top: 52px;
    z-index: 5;
    float: left;
    position: fixed;
    width: fit-content;
  }
}

.menu-container {
  height: 100vh;
  overflow: auto;
}

.menu-list {
  height: 85%;
  overflow: auto;
}​

#search {
  font-size: 14px;
  font-family: "NokiaPureText", monospace;
}

.level-item {
  font-size: 13px;
}

.service, .service-item {
  scroll-margin-top: 70px;
}

.badge {
  width: 30px;
}

.table {
  font-size: 14px;
}

td a {
  color: #124191;
  font-family: "Fira Code", monospace;
}