/* default */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

*, input[type=text] {
  font-family: 'Nunito', sans-serif;
}

.level-item, .service-item {
  font-family: "Fira Code", monospace;
}

.level-item {
  font-size: 13px;
}

.badge {
  width: 30px;
}

.is-sticky-left {
  left: 0;
  z-index: 5;
  float: left;
  position: fixed;
  width: fit-content;
}

.menu-container {
  max-height: calc(100vh - 180px);
  overflow: auto;
}

.service, .service-item {
  scroll-margin-top: 80px;
}

.table {
  font-size: 14px;
}

td a {
  color: #124191;
  font-family: "Fira Code", monospace;
}

.has-header-img {
  background: url(../images/random.jpg)center center;
  background-size: cover;
}
